<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.logic.taxi.mapper.TaxiInfoMapper">
  <select
    id="findList"
    resultType="com.logic.taxi.bean.TaxiInfoBean">
    select
    info.id,
    info.serviceType,
    info.price,
    info.region,
    info.subscriptionDate,
    info.description,
    info.createTime,
    info.secrecyLabel
    from taxi.taxi_info info
    where info.type=#{type}
    <if test="serviceType != null">
      and info.serviceType=#{serviceType}
    </if>
    <if test="region != null">
      and info.region=#{region}
    </if>
    order by createTime desc
    limit 30
  </select>
</mapper>
